.Header{
  background-color: #222;
  padding: 20px;
  height: 170px;
  color: white;
  text-align: center;
}

.Logo img{
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none
}
.menu li{
  display: inline-block;
  padding-right: 10px;

}
@keyframes App-logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
